*{
    box-sizing: border-box;
    /* border: 1px red dotted; */
    padding: 0;
    margin: 0;
    
}
html, body {
    height: 100%;
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(110, 0, 0);
    border-bottom: 3px red solid;
}

.TitleText{
    padding: 0px;
    font-size: 8vb;
    font-family:'Brush Script MT', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
}

.choose{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:4vh ;
}
.first{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vb;
    text-align: center;
    border-bottom: red solid 2px;
    border-top: red 2px dotted;
}

.PickCardContainer{
    background-color: rgb(110, 0, 0);
    display: flex;
    height: 20rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.CardContainer{
    height: 80%;
    width: 80%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Card{
    display: block;
    height: 80%;
    width: 80%;
}

.PlayerIcon, .BotIcon{
    text-align: center;
    margin-bottom:  10px;
    width: auto;
    height: 80%;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PlayerCount, .BotCount{
    text-align: center;
    font-size: 1rem;
    width: 100%;
    height: 20%;
}

.PickWeapon{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Rock, .Paper, .Scissors{
    border-radius: 10px;
    background-color: rgba(20, 20, 20, 0.532);
    text-align: center;
    height: 80%;
    width: auto;
    margin: 10px;
    font-size: 4rem;
    border: red 1px dotted;
    
}

.Rock:hover, .Paper:hover, .Scissors:hover{
    background-color: aqua;
    cursor: pointer;

}

.Scissors{
    padding-left: 10px;
    padding-right: 10px;
}

.sign{
    text-align: center;
    padding: 10px;
    font-size: auto;
}

/* 
<============>
<============>
<============> */

.FinishScreen{
    border: 2px green dotted;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:black;
    top: 0;
    left: 0;
    opacity: 90%;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.FinishScreenTextPick{
    border: 3px black solid;
    background-color: grey;
    height: 80%;
    width: 80%;
    display: block;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.FinishText{
    height: 80%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;

}
.FinishPick{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.FinishPickYES, .FinishPickNO{
    flex: 1;
    display: flex;
    font-size: 200%;
    align-items: center;
    justify-content: center;
    background-color: green;
    cursor: pointer;
}
.FinishPickNO{
    background-color: red;
}

footer{
    margin-top: fixed;
    bottom: 0;
    min-width: 100%;
}

.Rock{
    align-self: center;
    justify-self: center;

}

.FinishPickYES:hover, .FinishPickNO:hover{
    opacity: 50%;
}